
body{
  background-image:linear-gradient(200deg, #fe8dc6, #fed1c7);
  width:100%;
  height:100vh;
}
.controls{
  display:flex;
  justify-content: center;
  gap: 30px;
}
.rotate{
  display:flex;
  flex-direction:column;
  justify-content: center;
  gap:50px;
}
.outergroup{
  display:flex;
  justify-content: space-around;
  margin-top:3px;
}
.innergroup{
  display:flex;
  justify-content: space-evenly;
  gap:30px;
}
.block{
  background-color: black;
}
.container{
  display:inline-grid;
  grid-template-columns: repeat(8,70px);
  grid-template-rows:repeat(8,70px);
  row-gap: 5px;column-gap:5px;
  background-color:#AF8F6F;
  border:2px solid #AF8F6F;
  position:relative;
}
.timer{
  height:25px;
  font-weight: 300;
  background-image: linear-gradient(200deg, #95c458, #fed1c7);
  background-size: cover;
  text-align: center;
}

#rl,#rr,#rotate,#pause,#play,#reset,#undo,#redo,#replay,#playAgain{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 0.2;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-width: 60px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 13px 14px 12px;
  color: brown;
  box-shadow: inset 0 0 0 2px #3AA6B9;
  background-color: transparent;
  visibility:visible;
}
#rl,#rr,#rotate{
  padding: 18px 14px 18px;line-height:1;visibility: hidden;
}
#rl:hover,#rr:hover,#rotate:hover,#pause:hover,#play:hover,#reset:hover,#undo:hover,#redo:hover,#replay:hover,#playAgain:hover{
  color: #fff;
  background-color: #3AA6B9;
}
#moves_played{
  background-image: url('/resources/images/background_image/history.png');
  background-size: cover;
}

#game_pause,#game_over{
  position: absolute; 
  top: 50%; 
  left: 50%; 
  text-align: center;
  transform: translate(-50%, -50%); 
  background: rgba(255, 255, 255, 0.8);
  padding: 20px; 
  border-radius: 10px; 
  display:none;
  z-index: 10;
  font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  color: chocolate;
  font-weight: 500;
}